/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-scale-01: 12px;
  --dimension-scale-02: 14px;
  --dimension-scale-03: 16px;
  --dimension-scale-04: 20px;
  --dimension-scale-05: 24px;
  --dimension-scale-06: 32px;
  --dimension-scale-07: 40px;
  --dimension-scale-08: 48px;
  --dimension-scale-09: 64px;
  --dimension-scale-10: 72px;
  --dimension-weight-thin: 100px;
  --dimension-weight-extra-light: 200px;
  --dimension-weight-light: 300px;
  --dimension-weight-regular: 400px;
  --dimension-weight-medium: 500px;
  --dimension-weight-semibold: 600px;
  --dimension-weight-bold: 700px;
  --dimension-weight-extra-bold: 800px;
  --dimension-weight-black: 900px;
  --dimension-device-width: 1200px;
  --dimension-scale: 1px;
  --dimension-space-0: 0px;
  --dimension-space-050: 2px;
  --dimension-space-100: 4px;
  --dimension-space-150: 6px;
  --dimension-space-200: 8px;
  --dimension-space-300: 12px;
  --dimension-space-400: 16px;
  --dimension-space-600: 24px;
  --dimension-space-800: 32px;
  --dimension-space-1200: 48px;
  --dimension-space-1600: 64px;
  --dimension-space-2400: 96px;
  --dimension-space-4000: 160px;
  --dimension-space-negative-100: -4px;
  --dimension-space-negative-200: -8px;
  --dimension-space-negative-300: -12px;
  --dimension-space-negative-400: -16px;
  --dimension-space-negative-600: -24px;
  --dimension-radius-100: 4px;
  --dimension-radius-200: 8px;
  --dimension-radius-400: 16px;
  --dimension-blur-100: 4px;
  --dimension-radius-full: 9999px;
  --dimension-depth-0: 0px;
  --dimension-depth-025: 1px;
  --dimension-depth-100: 4px;
  --dimension-depth-200: 8px;
  --dimension-depth-400: 16px;
  --dimension-depth-800: 32px;
  --dimension-depth-1200: 48px;
  --dimension-depth-negative-025: -1px;
  --dimension-depth-negative-100: -4px;
  --dimension-depth-negative-200: -8px;
  --dimension-depth-negative-400: -16px;
  --dimension-depth-negative-800: -32px;
  --dimension-depth-negative-1200: -48px;
  --dimension-stroke-border: 1px;
  --dimension-stroke-focus-ring: 2px;
  --dimension-icon-small: 24px;
  --dimension-icon-medium: 32px;
  --dimension-icon-large: 40px;
  --dimension-root-font-size: var(--dimension-scale-03);
  --dimension-title-hero-size: var(--dimension-scale-10);
  --dimension-title-hero-font-weight: var(--dimension-weight-bold);
  --dimension-title-page-size-small: var(--dimension-scale-07);
  --dimension-title-page-size-base: var(--dimension-scale-08);
  --dimension-title-page-size-large: var(--dimension-scale-09);
  --dimension-title-page-font-weight: var(--dimension-weight-bold);
  --dimension-subtitle-size-small: var(--dimension-scale-05);
  --dimension-subtitle-size-base: var(--dimension-scale-06);
  --dimension-subtitle-size-large: var(--dimension-scale-07);
  --dimension-subtitle-font-weight: var(--dimension-weight-regular);
  --dimension-heading-size-small: var(--dimension-scale-04);
  --dimension-heading-size-base: var(--dimension-scale-05);
  --dimension-heading-size-large: var(--dimension-scale-06);
  --dimension-heading-font-weight: var(--dimension-weight-semibold);
  --dimension-subheading-size-small: var(--dimension-scale-03);
  --dimension-subheading-size-medium: var(--dimension-scale-04);
  --dimension-subheading-size-large: var(--dimension-scale-05);
  --dimension-subheading-font-weight: var(--dimension-weight-regular);
  --dimension-body-size-small: var(--dimension-scale-02);
  --dimension-body-size-medium: var(--dimension-scale-03);
  --dimension-body-size-large: var(--dimension-scale-04);
  --dimension-body-font-weight-regular: var(--dimension-weight-regular);
  --dimension-body-font-weight-strong: var(--dimension-weight-semibold);
  --dimension-code-size-small: var(--dimension-body-size-small);
  --dimension-code-size-base: var(--dimension-body-size-medium);
  --dimension-code-size-large: var(--dimension-body-size-large);
  --dimension-code-font-weight: var(--dimension-body-font-weight-regular);
}