/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-family-sans: "Inter";
  --string-family-serif: "Noto Serif";
  --string-family-mono: "Roboto Mono";
  --string-weight-thin-italic: "Thin Italic";
  --string-weight-extralight-italic: "Extra Light Italic";
  --string-weight-light-italic: "Light Italic";
  --string-weight-regular-italic: "Italic";
  --string-weight-medium-italic: "Medium Italic";
  --string-weight-semibold-italic: "Semi Bold Italic";
  --string-weight-bold-italic: "Bold Italic";
  --string-weight-extra-bold-italic: "Extra Bold Italic";
  --string-weight-black-italic: "Black Italic";
  --string-device: "desktop";
  --string-title-hero-font-family: var(--string-family-sans);
  --string-title-page-font-family: var(--string-family-sans);
  --string-subtitle-font-family: var(--string-family-sans);
  --string-heading-font-family: var(--string-family-sans);
  --string-subheading-font-family: var(--string-family-sans);
  --string-body-font-family: var(--string-family-sans);
  --string-body-font-style-italic: var(--string-weight-regular-italic);
  --string-code-font-family: var(--string-family-mono);
}